:root {
  /**** CORES PRIMÁRIAS *************/
    --cor-verde: #00995D;
    --cor-limao: #B1D34B;
    --cor-rosa: #ED1651;
    --cor-laranja: #F47920;
    --cor-amarelo: #FFCB08;
    --cor-fundo:#FFF0C7;
    --cor-branco:#FFFFFF;
  /**** ESCALA DE CINZA *************/
  --cor-cinza:#60656C;
  --cor-cinza-c:#9E9E9E;
  --cor-cinza-bc:#CCCCCC;
  --cor-cinza-clarissmo:#DEE2E6;
  /**** CORES COMPLEMENTARES ************/
  --cor-violeta: #A3238E;
  --cor-verde-escuro:#00401A;
  --cor-roxo:#411564;
  --cor-verde-agua:#411564;
  --cor-marrom: #682D00;
  /**** TONS DE VERDE *************/
  --cor-verde-esc:#245F40;
  --cor-cinza-esv:#61856E;
  --cor-cinza-esv-c:#A5B9AA;
  --cor-verde-agua:#1DAA7D;
  --cor-verde-agua-claro:#7AC0A0;
  --cor-verde-l-c:#C4DC79;
  --cor-verde-l-bc:#D4E5A3;
  --cor-verde-l-claris:#E7F0CE;
  /**** TONS DE QUENTES *************/
  --cor-laranja-claro:#F69651;
  --cor-laranja-bc:#FAB683;
  --cor-laranja-esbranquisado: #FDD9BB;
  --cor-amarelo-c:#FFD55B;
  --cor-amarelo-bc:#FFE191;
  --cor-amarelo-esbranquisado:#FFEEC5;
  --cor-pardo-rose:#FFF1D2;
  --cor-pardo-c:#FFF6E1;
  --cor-pardo-esbranquisado:#FFFAEE;
  --cor-salmao:#F0666F;
  --cor-salmao-c:#F59695;
  --cor-rosa-c:#FAC8C3;
  /**** TONS FRIOS  ****************/
  --cor-violeta-c:#B35FA4;
  --cor-violeta-bc:#C68DBE;
  --cor-violeta-esbrnquisado:#DEC1DD;
  --cor-roxo-c:#62447F;
  --cor-roxo-bc:#86729C;
  --cor-roxo-esbranquisado:#B6ABCA;

  /******  FONTE ********************/  
  --font-default: 'Trebuchet MS';
  --font-color: var (--cor-cinza);
  --font-light-font-weight: 100;
  --font-unimed: Unimed Slab bold;

}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #B1D34B;
  padding: 24px;
  text-align: center;
  font-size: 35px;
  color: white;
  margin-left: 214px;
}

nav {
  float: left;
  width: 16%;
  height: 664px;
  background: #00995D;
  padding: -43px;
  margin-top: -58px;
}

article {
   float: left;
  padding: 31px;
  width: 83%;
  background-color: #f1f1f1;
  height: 601px;
  margin-top: -2px;

}

section:after {
  content: "";
  display: table;
  clear: both;
}

footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

/*------------------------------------*\
              #TIPOGRAFIA
\*------------------------------------*/
.light{
  font-family: var(--font-default);
  font-style: var(--cor-cinza);
  font-weight: 100;
}

.book{
  font-family: var(--font-default);
  font-style: var(--cor-cinza);
  font-weight: 200;
}

.regular{
  font-family: var(--font-default);
  font-style: var(--cor-cinza);
  font-weight: 400;
}

.bold{
  font-family: var(--font-unimed);
  font-style: var(--cor-cinza);
  font-weight: bold;
}

.extraBold{
  font-family: var(--font-default);
  font-style: var(--cor-cinza);
  font-weight: 800;
}

.black{
  font-family: var(--font-default);
  font-style: var(--cor-cinza);
  font-weight:900;
}

.text1
{
  font-family: var(--font-default);
  font-style:  var(--cor-cinza) bold;
}

/*** PAGINAÇÃO DA HOME ****/

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: #f1f1f1;
  height: 300px;
  /* only for demonstration, should be removed */
}

/* Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: var(--cor-branco)
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {

  nav,
  article {
      width: 100%;
      height: auto;
  }
}

/* Input Text **/

form {
  width: 500px;
}

.form-group {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 15px;
}
.form-group label {
  transition: all 0.3s ease;
  display: inline-block;
  margin-bottom: 5px;
}
.form-group input, .form-group select, .form-group textarea {
  transition: all 0.3s ease;
  border: 1px solid #9E9E9E;
  border-radius: 5px;
  display: block;
  padding: 8px 14px;
  width: 100%;
}
.form-group input:focus, .form-group select:focus, .form-group textarea:focus {
  outline: none;
  border-color: #00995d;
}
.form-group input:focus + label, .form-group select:focus + label, .form-group textarea:focus + label {
  color: #00995d;
}

input[type="text"] {
  width: 280px;
  height: 42px;
}

.desable input{
  display: block;
  border-radius: 5px;
  background-color: #DEE2E6;
  border-color: #9E9E9E;
  color: #9e9e9e;
}

.desable>label{
  color: #9E9E9E;
}

/***** PESQUISA ******/

#divBusca{
  background-color: var(--cor-branco);
  border-radius: 40px;
  width: 350px;
  height: 40px;;
}
 
#txtBusca{
  float:left;
  background-color:transparent;
  padding-left:23px; 
  font-size:14px;
  font-family:Trebuchet MS;
  font-style: italic;
  text-decoration-color: #60656C;
  border:none;
  height:32px;
  width:88%;
}
 
#btnBusca{
  border:none;
  float:right;
  border-radius:100%;
  background-image: url('file:///C:/Users/karoline.suzuki/Desktop/magnifying-glass.svg');
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px;
  background-color: #00995D;
}
 
#divBusca img{
  float:right;
}

/**** modelo de PESQUISA 2  ****/
#divBusca2{
  background-color: var(--cor-branco);
  border-radius: 40px;
  width: 350px;
  height: 40px;
}
 
#txtBusca2{
  float: left;
  background-color: #F1F2F1;
  padding-left: 23px;
  font-size: 14px;
  font-family: Trebuchet MS;
  font-style: italic;
  text-decoration-color: #9E9E9E;
  border: none;
  border-radius: 47px;
  height: 32px;
  width: 89%
}
 
#btnBusca2{
  border: none;
    float: right;
    border-radius: 100%;
    background-image: url(file:///C:/Users/karoline.suzuki/Desktop/magnifying-glass.svg);
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px;
    background-color: #00995D;
    position: fixed;
    display: inline;
}
 
#divBusca2 img{
  float:right;
  
}

/** Switch **/
/** DEFAULT **/
.switch{
  display: inline-block;
  height: 19px;
  position: relative;
  width: 34px;
}

.switch input{
  display:none;
}

.slider{
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before{
  content: "";
  position: absolute;
  transition: .4s;
  width: 13px;
}

/** MODELO 1 **/
.slider1 {
  background-color: #ccc;
}

.slider1:before {
  background-color: #fff;
  bottom: 4px;
  height: 12px;
  left: 3px;
}

input:checked + .slider1 {
  background-color: #00995D;
}

input:checked + .slider1:before {
  transform: translateX(15px);
}

.slider1.round1 {
  border-radius: 34px;
}

.slider1.round1:before {
  border-radius: 50%;
}

/** MODELO 2**/
.slider2 {
  background-color: #fff;
  border: 1px solid #CCCCCC;
  border-radius: 11px;
}

.slider2:before {
  background-color: #CCCCCC;
  bottom: 2px;
  height: 13px;
  left: 1px;
  border-radius: 8px;
}

/** MODELO 3 **/
.slider3 {
  background-color: #fff;
  border: 1px solid #9E9E9E;
  border-radius: 11px;
}

.slider3:before {
  background-color: #9E9E9E;
  bottom: 2px;
  height: 13px;
  left: 17px;
  border-radius: 8px;
}

/**** PAGINAÇÃO *********************/ 
/** DEFAULT **/
ul.pagination {
  display: inline-block;
  padding: 0;
  margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
  color: #00995D;
  float: left;
  padding: 8px 15px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #00995D;
  margin: 0 4px;
}

ul.pagination li a.active {
  background-color: #00995D;
  color: var(--cor-branco);
  border: 1px solid #00995D;
}

ul.pagination li a:hover:not(.active) {background-color: #00995D;
color:var(--cor-branco);}

/** MARCADORES CÍRCULOS ****/
ul.pagination > .circle li a{
  border-radius: 100%;
}

/** MARCADORES QUADRADOS ****/
ul.pagination > .quadratic li a {
  border-radius: 34%;
}


/*** BOTÃO SELECT - DROPDOWN ****/
button, select {
  text-transform: none;
  width: 145px;
  height: 40px;
  color: white;
  background-color: #00995D;
  text-align: center;
  text-align-last: center;
  font-size: 16px;
  font-family: Trebuchet MS;
  border-radius: 10px;
  }

  select {
    background-color: green;
    color: white
  }
  select >option {
    background-color: white;
    color: black
  }

  .option{
    border-radius: 8px;
  }


  /*** TOOLTIPS ***/
/** DEFAULT TOOLTIPS **/
.tooltip{
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted #245F40;
}

.tooltip .tooltiptext{
  visibility: hidden;
  width: 120px;
  background-color: #245F40;
  color: #FFF;
  text-align: center;
  font-family: Trebuchet MS;
  border-radius:4px;
  padding: 5px 0;
  position: absolute;
  z-index:1;
  top: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after{
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 5px;
}

.tooltip:hover .tooltiptext{
  visibility: visible;
}

  /** CIMA ***/
  .tooltiptop .tooltiptext::after {
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-color:#245F40 transparent transparent transparent;
  }

  /** BAIXO **/
  .tooltipbottom .tooltiptext::after {
    bottom: 100%;
    left:50%;
    margin-left: -5px;
    border-color: transparent transparent #245F40 transparent;
  }

  /** ESQUERDA **/
    .tooltip.tooltipleft .tooltiptext::after {
    top:50%;
    left: 100%;
    margin-top: -5px;
    border-color: transparent transparent transparent #245F40;
  }

  /** DIREITA **/
  .tooltipright .tooltiptext::after{
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-color: transparent #245F40 transparent transparent;
  }

/*** CHECKBOX ***/
 input[type="checkbox"]{
  height: 30px;
  width: 30px;
  background-color: #FFF;
  position: relative;
  outline: none;
  -webkit-appearance: none;
  border-radius: 5px;
  border-color: #CCCCCC;
  border-style: solid;
}

input[type="checkbox"]:checked{
  height: 30px;
  width: 30px;
  position: relative;
  outline: none;
  -webkit-appearance: none;
  border-radius: 5px;
  border-color: var(--cor-verde);
}

input:checked[type="checkbox"]:before{
  position: absolute;
  content: "";
  height: 60%;
  width: 100%;
  top: -59%;
  border-radius: 5px;
  visibility: hidden;
}

input:checked[type="checkbox"]:after{
  position: absolute;
  content: "";
  height: 36%;
  width: 42%;
  align-items: center;
  top: 8px;
  left: 7px;
}

/** estilo 1 checkbox **/ 

.estilo1 > input[type="checkbox"]:checked{
  background-color: #FFF;
}

.estilo1 > input:checked[type="checkbox"]:before{
  background-color: #F1F2F1;
}

.estilo1 > input:checked[type="checkbox"]:after{
  background-color: #00995D;
}

/** estilo 2 checkbox **/

.estilo2 > input[type="checkbox"]:checked{
  background-color: #00995D;
}

.estilo2 > input:checked[type="checkbox"]:before{
  background-color: #00995D;
}

.estilo2 > input:checked[type="checkbox"]:after{
  background-color: #FFF;
}

/** estilo desabilitado 1 **/
.desabilitado1 > input[type="checkbox"]:checked{
 border-color: #CCCCCC;
}

.desabilitado1 > input:checked[type="checkbox"]:before{
  background-color: #F1F2F1;
}

.desabilitado1> input:checked[type="checkbox"]:after{
  background-color: #CCCCCC;
}

/** estilo desabilitado 2 **/
.desabilitado2 > input[type="checkbox"]:checked{
  background-color: #CCCCCC;
  border-color: #CCCCCC;
}

.desabilitado2 > input:checked[type="checkbox"]:before{
  background-color: #CCCCCC;
}

.desabilitado2 > input:checked[type="checkbox"]:after{
  background-color: #FFF;
}